<div class="container">
    <h2>WYBÓR WNĘTRZA</h2>
    <div class="row align-items-center interior">
      <div class="col-md-6">
        <p class="description">
          {{ houseData.interiors[currentInteriorIndex()].description }}
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          [src]="houseData.interiors[currentInteriorIndex()].image"
          class="img-fluid"
          alt="Interior Design"
        />
        <button class="btn btn-primary" (click)="selectInterior()">WYBIERZ</button>
      </div>
      <button class="arrow" (click)="nextInterior()">→</button>
    </div>
  
    <h2>WYBÓR ZEWNĘTRZNEGO WYGLĄDU</h2>
    <div class="row align-items-center exterior">
      <div class="col-md-6 text-center">
        <img
          [src]="houseData.exteriors[currentExteriorIndex()].image"
          class="img-fluid"
          alt="Exterior Design"
        />
        <button class="btn btn-primary" (click)="selectExterior()">WYBIERZ</button>
      </div>
      <div class="col-md-6">
        <p class="description">
          {{ houseData.exteriors[currentExteriorIndex()].description }}
        </p>
      </div>
      <button class="arrow" (click)="nextExterior()">→</button>
    </div>
  
    <h2>TWÓJ WYBÓR</h2>
    <div class="selection-summary text-center">
      <img src="/assets/vector_house.svg" class="vector-house" alt="House Vector" />
      <p>WNĘTRZE: {{ selectedInterior }}</p>
      <p>ELEWACJA: {{ selectedExterior }}</p>
    </div>
  </div>
  