<div class="iframe-container">
    <iframe
      [src]="Walk3dSanitizedUrl"
      frameborder="0"
      allowfullscreen
      (load)="onIframeLoad()">
    </iframe>
  
    <div *ngIf="loading" class="spinner-container">
        <!-- <div class="spinner-grow text-secondary" role="status"></div> -->
          <mat-spinner></mat-spinner>
          <span class="loading-text">Ładuję spacer 3D</span>
    </div>
    <br>
    <div>
        <button class="btn btn-primary" [routerLink]="['']">Powrót</button>
    </div>
  </div>

  