<div class="outside-container">

 
    <app-navbar></app-navbar>
    <div class="container pt-5 mt-5">
      <div id="oferta" class="text-center">
        <h1 class="title mb-5 py-2">WYBIERZ SWÓJ DOM!</h1>
    
        <!-- Selected house (fixed height + shadow) -->
        <div class="selected-house text-center mb-5">
          <div class="selected-wrapper mx-auto shadow-container">
            <img
              [src]="houses[selectedHouse()].image"
              [alt]="houses[selectedHouse()].name + ' House'"
              class="img-fluid selected-house-img"
            />
          </div>
          <p class="house-name mt-2 mb-0">
            {{ houses[selectedHouse()].name }}
            <span class="house-square">
              {{ houses[selectedHouse()].square }} <span class="m">m</span><span class="sup">2</span>
            </span>
          </p>
        </div>
    
        <!-- Scrollable carousel with all houses (including selected) -->
        <div id="house-carousel" class="splide px-3 pb-5" #houseCarousel>
          <div class="splide__track">
            <ul class="splide__list">
              <li
                class="splide__slide text-center"
                *ngFor="let house of houseList()"
                [class.active]="house.key === selectedHouse()"
                (click)="toggleHouse(house.key)"
              >
                <img
                  [src]="house.image"
                  [alt]="house.name + ' House'"
                  class="img-fluid house-thumb"
                />
                <p class="house-name mt-1 mb-0">
                  {{ house.name }}
                  <span class="house-square">
                    {{ house.square }} <span class="m">m</span><span class="sup">2</span>
                  </span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    


  <!-- DRAWINGS CHANGE -->
  <div class="floor-plan-section px-2">
    <div class="row justify-content-center align-items-center position-relative">
      <!-- Current Drawing Image -->
      <div class="col-12 col-md-7 text-center">
        <div class="image-wrapper">
          <img
            id="drawingImage"
            [src]="houses[selectedHouse()].drawing[currentDrawingIndex()]"
            alt="Drawing"
            class="img-fluid floor-plan-img"
            (click)="openModal(houses[selectedHouse()].drawing[currentDrawingIndex()])"
          />
        </div>
      </div>
      <!-- Navigation Arrow -->
      <div class="col-2 text-center align-self-center">
        <button class="arrow-btn px-2 py-2" (click)="nextDrawing()">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  
    <!-- Info List -->
    <div class="row justify-content-end mt-1 mx-2">
      <div class="col-12 col-md-3 text-end info-list">
        <ul class="list-unstyled">
          <li *ngFor="let item of houses[selectedHouse()].info">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>

<!-- RENDERS SECTION -->
<div class="render-section px-2 mt-4 renders">
  <div class="row justify-content-center align-items-center">
    <!-- Render Container -->
    <div class="col-12 col-md-8 text-center render-container">
      <!-- Render Image 1 -->
      <div class="render-img-wrapper">
        <img
          [src]="houses[selectedHouse()].renders[0]"
          alt="Render 1"
          class="render-img"
          (click)="openModal(houses[selectedHouse()].renders[0])"
        />
      </div>
      <!-- Render Image 2 -->
      <div class="render-img-wrapper mt-3">
        <img
          [src]="houses[selectedHouse()].renders[1]"
          alt="Render 2"
          class="render-img"
          (click)="openModal(houses[selectedHouse()].renders[1])"
        />
      </div>
    </div>
  </div>
</div>

  <!-- FACADE IMAGES SECTION -->
  <div class="container bg-white py-2">
    <div class="row row-cols-2 row-cols-md-4 g-3 justify-content-center align-items-end">
      <!-- Facade Images -->
      <div
        *ngFor="let facade of houses[selectedHouse()].facades; let i = index"
        class="col d-flex justify-content-center"
      >
        <div class="ratio ratio-1x1 w-75">
          <img
            [src]="facade"
            alt="Facade Image {{ i + 1 }}"
            class="img-fluid rounded"
            (click)="openModal(facade)"
          />
        </div>
      </div>
    </div>
  </div>

  <div
  class="modal fade"
  id="enlargeModal"
  tabindex="-1"
  aria-labelledby="enlargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen modal-dialog-centered">
    <div class="modal-content">
      <div class="justify-content-start">
        <button
          type="button"
          class="btn-close btn-close-custom"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <img [src]="selectedImage()" alt="Enlarged Drawing" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

  <!-- BROWN ICONS SECTION -->
  <app-brown @defer></app-brown>

  <!-- DESIGN COMPONENT -->
  <app-design
  [houseData]="houses[selectedHouse()]"
  [selectedInterior]="selectedInterior()"
  [selectedExterior]="selectedExterior()"
  [currentInteriorIndex]="currentInteriorIndex()"
  [currentExteriorIndex]="currentExteriorIndex()"
></app-design>

  <!-- SLIDER -->
  <app-slider  [images]="sliderImages()"></app-slider>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>
