<app-navbar></app-navbar>
<div class="container mb-5 mt-5">
    <div class="row w-100 text-center">
      <div class="col-12">
        <h1>Skontaktuj się z nami!</h1>
        <p>Jakieś pytania lub uwagi? Napisz do nas wiadomość!</p>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-2"></div>
      
      <div class="col-md-8 shadow">
        <div class="row">
            <div class="col-4 bg-green shadow m-2">
                <h4 class="m-2 mt-4 text-white">Dane kontaktowe</h4>
            </div>
            <div class="col-8"></div>
        </div>
      
      </div>

      
      <div class="col-md-2"></div>
    </div>
  </div>
<app-footer></app-footer>
  