<div #splide class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"><img src="/assets/main3.webp" alt="Obraz 1" /></li>
        <li class="splide__slide"><img src="/assets/fresca-front.webp" alt="Obraz 5" /></li>
        <li class="splide__slide"><img src="/assets/carina-front.webp" alt="Obraz 10" /></li>
        <li class="splide__slide"><img src="/assets/main6.webp" alt="Obraz 2" /></li>
        <li class="splide__slide"><img src="/assets/ariosa-front.webp" alt="Obraz 4" /></li>
        <li class="splide__slide"><img src="/assets/solare-front.webp" alt="Obraz 8" /></li>
        <li class="splide__slide"><img src="/assets/allegra-front.webp" alt="Obraz 3" /></li>
        <li class="splide__slide"><img src="/assets/moderna-front.webp" alt="Obraz 6" /></li>
        <li class="splide__slide"><img src="/assets/tonica-front.webp" alt="Obraz 9" /></li>
        <li class="splide__slide"><img src="/assets/ricca-front.webp" alt="Obraz 7" /></li>
      </ul>
    </div>
  </div>