<div #splide class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="/assets/main3.webp" alt="Obraz 1" loading="eager" fetchpriority="high" decoding="async" />
      </li>
      <li class="splide__slide"><img src="/assets/fresca-front.webp"  alt="Obraz 5"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/carina-front.webp"  alt="Obraz 10" decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/main6.webp"        alt="Obraz 2"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/ariosa-front.webp" alt="Obraz 4"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/solare-front.webp" alt="Obraz 8"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/allegra-front.webp"alt="Obraz 3"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/moderna-front.webp"alt="Obraz 6"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/tonica-front.webp" alt="Obraz 9"  decoding="async" /></li>
      <li class="splide__slide"><img src="/assets/ricca-front.webp"  alt="Obraz 7"  decoding="async" /></li>
    </ul>
  </div>
</div>
