<div class="outside-container d-flex flex-column min-vh-100 realization-bg">
  <app-navbar></app-navbar>

  <main class="flex-grow-1 ">
    <div class="logo-container">
      <a routerLink="/">
        <img class="logo img-fluid" src="/assets/logo.png" alt="Logo">
      </a>
    </div>

    <div class="text-center text-dark py-5">
      <h2 class="header-container px-1">PRZYKŁADOWY SPACER 3D PO DOMKU GIOIA</h2>
    </div>

    <div class="container pb-5">
      <div class="iframe-container px-md-5" @defer>
        <iframe
          [src]="walk3dSanitizedUrl"
          frameborder="0"
          allowfullscreen
          (load)="onIframeLoad()">
        </iframe>

        <div *ngIf="loading" class="spinner-container">
          <mat-spinner></mat-spinner>
          <span class="loading-text">Ładuję Spacer 3D</span>
        </div>
      </div>
    </div>
  </main>
</div>

