
  <!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark"
  [ngClass]="{ 'home-page-navbar': isHomePage() }"
>
  <div class="container-fluid">
    <!-- Hamburger Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mobileNav"
      aria-controls="mobileNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Regular Menu for Larger Screens -->
    <div class="collapse navbar-collapse custom-navbar" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">

          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/">Strona główna</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/oferta">Nasze domy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" fragment="spacer">Spacer wirtualny</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink="/proces">Wioski wakacyjne</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/oferta">Wnętrza</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink="/dostepne">Dostępne od ręki</a>
          </li>

          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink="/kontakt">Kontakt</a>
          </li>
          <!-- WERSJE JĘZYKOWE - TYMCZASOWO WYŁĄCZONE -->
          <!-- <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink=""><img class="flag-img" src="assets/Flag_of_Poland.png"></a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink=""><img class="flag-img" src="assets/Flag_of_Great_Britain.png"></a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink=""><img class="flag-img" src="assets/Flag_of_Italy.png"></a>
          </li> -->
        </ul>
      </div>
      <button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollTop">
        <i class="bi bi-arrow-up-circle"></i>
      </button>


    <!-- Fullscreen Navigation for Mobile -->
    <div class="collapse fullscreen-nav" id="mobileNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" href="">Strona główna</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="oferta">Nasze domy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" fragment="spacer" (click)="closeMobileMenu()">Spacer wirtualny</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="proces">Wioski wakacyjne</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="oferta">Wnętrza</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="dostepne">Dostępne od ręki</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="kontakt">Kontakt</a>
        </li>
         <!-- Sekcja flag pod kontaktem -->
        <!-- <li class="nav-item d-flex justify-content-center gap-2 mt-2">
          <a class="nav-link px-2" routerLink=""><img class="flag2-img" src="assets/Flag_of_Poland.png" alt="PL"></a>
          <a class="nav-link px-2" routerLink=""><img class="flag2-img" src="assets/Flag_of_Great_Britain.png" alt="EN"></a>
          <a class="nav-link px-2" routerLink=""><img class="flag2-img" src="assets/Flag_of_Italy.png" alt="IT"></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>