
  <!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark"
  [ngClass]="{ 'home-page-navbar': isHomePage() }"
>
  <div class="container-fluid">
    <!-- Hamburger Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mobileNav"
      aria-controls="mobileNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Regular Menu for Larger Screens -->
    <div class="collapse navbar-collapse custom-navbar " id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">

          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="/">STRONA GŁÓWNA</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="/oferta">NASZE DOMY</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="/wnetrza">WNĘTRZA</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="/jaktodziala">JAK TO DZIALA</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="">TECHNOLOGIA</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link monsterrata-text " routerLink="/proces">DLA BIZNESU</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="/finansowanie">FINANSOWANIE</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link monsterrata-text " routerLink="">O NAS</a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link monsterrata-text" href="#contact" >KONTAKT</a>
          </li>

          <!-- <li>
            <li class="nav-item">
            <a class="nav-link monsterrata-text " routerLink="/" fragment="spacer">SPACER WIRTUALNY</a>
          </li> -->



          <!-- WERSJE JĘZYKOWE - TYMCZASOWO WYŁĄCZONE -->
          <!-- <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink=""><img class="flag-img" src="assets/Flag_of_Poland.png"></a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink=""><img class="flag-img" src="assets/Flag_of_Great_Britain.png"></a>
          </li>
          <li class="nav-item" routerLinkActive="active-nav-item">
            <a class="nav-link" routerLink=""><img class="flag-img" src="assets/Flag_of_Italy.png"></a>
          </li> -->
        </ul>
      </div>
      <button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollTop">
        <i class="bi bi-arrow-up-circle"></i>
      </button>


    <!-- Fullscreen Navigation for Mobile -->
    <div class="collapse fullscreen-nav" id="mobileNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" href="">Strona główna</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="oferta">Nasze domy</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="wnetrza">Wnętrza</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="/jaktodziala">Jak to działa</a>
        </li>
        <li class="nav-item">
        <li class="nav-item align-items-center">
          <a class="nav-link" href="">Technologia</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="proces">Dla biznesu</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="/finansowanie">Finansowanie</a>
        </li>
         <li class="nav-item align-items-center">
          <a class="nav-link" href="">O nas</a>
        </li>
        <li class="nav-item align-items-center">
          <a class="nav-link" href="#contact" (click)="closeMobileMenu()">Kontakt</a>
        </li>

        <!-- <li>
          <a class="nav-link" routerLink="/" fragment="spacer" (click)="closeMobileMenu()">Spacer wirtualny</a>
        </li>
         -->

         <!-- Sekcja flag pod kontaktem -->
        <!-- <li class="nav-item d-flex justify-content-center gap-2 mt-2">
          <a class="nav-link px-2" routerLink=""><img class="flag2-img" src="assets/Flag_of_Poland.png" alt="PL"></a>
          <a class="nav-link px-2" routerLink=""><img class="flag2-img" src="assets/Flag_of_Great_Britain.png" alt="EN"></a>
          <a class="nav-link px-2" routerLink=""><img class="flag2-img" src="assets/Flag_of_Italy.png" alt="IT"></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>