<section>
    <div class="row bg-custom  p-5 text-center">
      <p></p>
      <div class="col-md-4 my-5">
        <img src="/assets/middle_section_hand_with_seed_img.png" alt="hand_with_seed" class="mb-3">
        <p class="white-text bodoni-moda mb-1">ZRÓWNOWAŻONA ARCHITEKTURA</p>
        <p class="white-text bodoni-moda mb-1">WSPIERAJĄCA BIORÓŻNORODNOŚĆ!</p>
        <div class="icon-line my-2"></div>
      </div>
      <div class="col-md-4 my-5">
        <img src="/assets/middle_section_trees_img.png" alt="trees" class="mb-3">
        <p class="white-text bodoni-moda mb-1">DOM, KTÓRY PRZYNOSI KORZYŚĆ</p>
        <p class="white-text bodoni-moda mb-1">NATURZE I TOBIE!</p>
        <div class="icon-line my-2"></div>
      </div>
      <div class="col-md-4 my-5">  
        <img src="/assets/middle_section_wood_works_img.png" alt="wood_works" class="mb-3">
        <p class="white-text bodoni-moda mb-1">DOSKONAŁA OCHRONA NATURY</p>
        <p class="white-text bodoni-moda mb-1">PRZY BUDOWIE TWOJEGO DOMU!</p>
        <div class="icon-line my-2"></div>
      </div>
      <p></p>
      <p></p>
    </div> 
  </section>
