<div class="bg-slideshow ratio ratio-16x9">
  <div class="bg-img" style="background-image: url('/assets/main1.webp');"></div>
  <div class="bg-img" style="background-image: url('/assets/main2.webp');"></div>
  <div class="bg-img" style="background-image: url('/assets/main3.webp');"></div>
  <div class="bg-img" style="background-image: url('/assets/main4.webp');"></div>
  <div class="bg-img" style="background-image: url('/assets/main5.webp');"></div>
  <div class="bg-img" style="background-image: url('/assets/main6.webp');"></div>
</div>

<!-- ! Navbar Section ! -->

<nav class="navbar navbar-expand-lg navbar-dark my-3 position-absolute top-0 start-0 w-100" style="z-index: 10;">
  <div class="container d-flex align-items-start justify-content-between">
    
    <!-- Logo Section -->
    <div class="navbar-brand">
      <img class="logo img-fluid" src="/assets/logo.png" alt="Logo">
    </div>

    <div class="navbar-nav-wrapper d-flex ms-auto align-items-center">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item px-3">
          <a class="nav-link prata-regular" href="#onas">O nas</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link prata-regular" [routerLink]="['/oferta/spacer3D']">Oferta</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link prata-regular" href="#proces">Proces</a>
        </li>
        <li class="nav-item px-3">
          <a class="btn btnContact prata-regular" role="button" href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!--ABOUT US SECTION  -->
  <div id="onas"></div><br>
<section>
    <div class="container my-5">
        <div class="row">
          <div class="col-xl-4">
            <h2 class="mb-4 text-center">O nas</h2>
            <p class="mx-4 text-center">
              Wierzymy, że przyszłość budownictwa to połączenie nowoczesnych rozwiązań, 
              troski o środowisko i najwyższego komfortu dla użytkowników. Nasze modułowe drewniane domy to odpowiedź 
              na potrzeby osób, którzy szukają ekologicznych, zrównoważonych i gotowych do zamieszkania przestrzeni.
            </p>
            <p class="mx-4 text-center"> 
              Każdy dom, który budujemy, jest tworzony z myślą o Tobie i planecie. 
              Wykorzystujemy naturalne materiały z lokalnych, odpowiedzialnych źródeł, co sprawia, że nasze projekty 
              są przyjazne dla środowiska, ale jednocześnie trwałe i nowoczesne. Stawiamy na rozwiązania modułowe, 
              dzięki czemu możesz łatwo skonfigurować swój wymarzony dom — w pełni dopasowany do Twoich potrzeb.
            </p>
            <p class="mx-4 text-center"> 
              Wybierając nasze domy, wybierasz nie tylko piękne, funkcjonalne przestrzenie, 
              ale także zrównoważony styl życia.
            </p>
            <div class="text-center">
              <a href="" class="btn btnProject lora-regular mt-3 mb-5 cormorant-garamond-regular" role="button">KATALOG</a>
          </div>
          
           </div>
         <div class="col-xl-8">
            <img src="/assets/about_us_img.png" alt="about_us_img" class="img-fluid">
          </div>
        </div>
        </div>
</section>

<!-- BROWN BG SECTION WITH ICONS -->
<section>
  <div class="row bg-custom mt-5 p-5 text-center">
    <p></p>
    <div class="col-md-4 my-5">
      <img src="/assets/middle_section_hand_with_seed_img.png" alt="hand_with_seed" class="mb-3">
      <p class="white-text bodoni-moda mb-1">ZRÓWNOWAŻONA ARCHITEKTURA</p>
      <p class="white-text bodoni-moda mb-1">WSPIERAJĄCA BIORÓŻNORODNOŚĆ!</p>
      <div class="icon-line my-2"></div>
    </div>
    <div class="col-md-4 my-5">
      <img src="/assets/middle_section_trees_img.png" alt="trees" class="mb-3">
      <p class="white-text bodoni-moda mb-1">DOM, KTÓRY PRZYNOSI KORZYŚĆ</p>
      <p class="white-text bodoni-moda mb-1">NATURZE I TOBIE!</p>
      <div class="icon-line my-2"></div>
    </div>
    <div class="col-md-4 my-5">  
      <img src="/assets/middle_section_wood_works_img.png" alt="wood_works" class="mb-3">
      <p class="white-text bodoni-moda mb-1">DOSKONAŁA OCHRONA NATURY</p>
      <p class="white-text bodoni-moda mb-1">PRZY BUDOWIE TWOJEGO DOMU!</p>
      <div class="icon-line my-2"></div>
    </div>
    <p></p>
    <p></p>
  </div> 
</section>

<!-- SECTION WITH MARBLE BG & PICS -->
<section class="mb-5">
  <!-- Background -->
  <div class="bg-img-spokoj-section">
    
    <!-- First Row -->
    <div class="row">
      <!-- First Row, First Col -->
      <div class="col-md-6 align-items-center text-center">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6">
            <h2 class="text-center" style="padding-top: 200px;">NOWOCZESNY</h2>
            <p class="text-center m-5">
              Wnętrze, które łączy nowoczesny design z elegancją i funkcjonalnością. Dominują neutralne barwy - biele,
              szarości i beże oraz czerń – tworzące spokojną i stylową atmosferę. Wysokiej jakości materiały, 
              takie jak naturalne drewno, zapewniają trwałość i estetykę. 
            </p>
            <p class="text-center m-5">
              Proste i nowoczesne meble o minimalistycznych formach
              oraz designerskie, punktowe oświetlenie podkreślają subtelną elegancję przestrzeni. 
              To harmonijne wnętrze jest idealne dla osób ceniących funkcjonalność i nowoczesny styl życia.
            </p>
            <a href="" class="btn btnProject mb-5" role="button">KATALOG</a>
            <p class="mb-5"></p>
          </div>
        </div>
      </div>
      <!-- First row, second col -->
      <div class="col-md-6 mt-5">
        <img class="img-fluid image-translate" src="/assets/nowoczesny_img.png" alt="nowoczesny_img">
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <!-- Second row, first col -->
      <div class="col-md-6 order-2 order-md-1 d-flex justify-content-end">
        <img class="img-fluid" src="/assets/minimalistyczny_img.png" alt="minimalistyczny_img">
      </div>
      <!-- Second row, second col (mobile first) -->
      <div class="col-md-6 order-1 order-md-2 align-items-center text-center">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6">
            <h2 class="text-center" style="padding-top: 150px;">MINIMALISTYCZNY</h2>
            <p class="text-center m-5">
              Minimalizm połączony z japońską estetyką tworzy przestrzeń pełną spokoju i harmonii. 
              Naturalne drewno i duże ilości światła wprowadzają ciepło i naturalność do każdej części domu. 
              Proste linie i oszczędne formy podkreślają funkcjonalność oraz elegancję wnętrza, 
              a subtelne akcenty dodają mu charakteru. 
            </p>
            <p class="text-center">
              To wnętrze jest idealne dla osób ceniących prostotę, naturalne piękno oraz wysoką funkcjonalność. 
              Dzięki przemyślanemu designowi oferuje przestrzeń, w której można czuć się zrelaksowanym
              i zintegrowanym z naturą.
            </p>
            <p class="text-center mb-5">
              Stwórz swoje wymarzone wnętrze, naturalnie!
            </p>
            <a href="" class="btn btnProject mb-5" role="button">KONTAKT</a>
          </div>
        </div>  
      </div>
    </div>

  </div>
</section>


<!-- SPLIDE SLIDER SECTION  -->
 
<!-- <section>
  <div class="bg-img-slider">
    <div id="splide" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="assets/main1.webp" alt="Image 1">
          </li>
          <li class="splide__slide">
            <img src="assets/main2.webp" alt="Image 2">
          </li>
          <li class="splide__slide">
            <img src="assets/main3.webp" alt="Image 3">
          </li>
          <li class="splide__slide">
            <img src="assets/main4.webp" alt="Image 4">
          </li>
          <li class="splide__slide">
            <img src="assets/main5.webp" alt="Image 5">
          </li>
          <li class="splide__slide">
            <img src="assets/main6.webp" alt="Image 6">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<!-- MARKETING TEXT BOTTOM SECTION -->
<!-- <section>
  <div class="container my-5">
    <div class="row">
      <div class="col-xl">
        <h2 class="mb-4 text-center" style="color: #485145;">WYBIERZ SWÓJ DOM!</h2>
      </div>
    </div>
  </div>
</section> -->


<!-- 3D TOUR SECTION -->

<div class="iframe-container" @defer>
  <iframe
    [src]="Walk3dSanitizedUrl"
    frameborder="0"
    allowfullscreen
    (load)="onIframeLoad()">
  </iframe>

  <div *ngIf="loading" class="spinner-container">
      <!-- <div class="spinner-grow text-secondary" role="status"></div> -->
        <mat-spinner></mat-spinner>
        <span class="loading-text">Ładuję spacer 3D</span>
  </div>


</div>


<!-- FOOTER SECTION -->
<section>
  <div class="footer-bg">
    <div class="row d-flex align-items-end"> <!-- Added d-flex and align-items-end -->
      <div class="col-sm text-center text-white">
        <p>© 2024 Ammer House</p>
        <p>All Rights Reserved</p>
      </div>
      <div class="col-sm text-center">
        <img class="logo-footer img-fluid" src="/assets/logo_footer_img.png" alt="Logo">
      </div>
      <div class="col-sm text-center text-white mt-2">
        <p>Polityka prywatności</p>
      </div>
    </div>
  </div>
</section>

