<img class="bg-img" src="/assets/homepage_house_img.jpg">

<!-- ! Navbar Section ! -->
<nav class="navbar navbar-expand-lg navbar-dark my-3 position-absolute top-0 start-0 w-100" style="z-index: 10;">
    <div class="container">
      <div class="navbar-brand">
        <img class="logo" src="#" alt="Logo">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" href="#onas">O nas</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" [routerLink]="['/oferta/spacer3D']" >Oferta</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" href="#proces">Proces</a>
          </li>

          <li class="nav-item px-4">
            <a class="btn btnContact prata-regular" role="button" href="#contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
</nav>