@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.shadow-nav {
  box-shadow: 0px 8px 24px 25px rgba(66, 68, 90, 1);
}


.montserrata-text{
  font-family: "Montserrat", sans-serif;
}


/* 16x9 ratio for the slideshow */
.bg-slideshow {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.8);
}

@media (min-width: 1024px) {
  .bg-slideshow {
    height: 100vh;    /* lub np. 500px */
    aspect-ratio: auto; /* wyłącz aspect ratio żeby wymusić wysokość */
  }
}


/* Ensure navbar is fixed at the top */
.navbar-container {
    position: absolute; /* Stick the navbar to the top */
    /* top: 0;
    left: 0; */
    width: 100%;
    z-index: 15; /* Ensure it appears above all other elements */
    /* padding: 10px 20px; */
}

/* General adjustments for other elements */
.outside-container {
    position: relative; /* Ensure proper stacking context */
    overflow: hidden; /* Prevent unwanted overflow */
}

/* ! SECTION 1 ! */

/* TŁO SEKCJI Z IKONAMI NA BRĄZOWYM TLE */
.bg-custom {
    background-color: #B89F86; 
    overflow-x: hidden
  }

  .bg-custom img {
    width: 80px;  
    height: 80px; 
    object-fit: contain; 
    overflow-x: hidden
}
  
 .btnProject {
    background-color: #7C8A77;
    color: #ffffff;
    width: 150px;
    overflow-x: hidden;
    
  }

  .btnProject:hover {
    color: #ffffff;
    background-color: #B89F86;
    overflow-x: hidden;
}
  
.white-text{
    color: #F5F5F5
}
  
.icon-line2 {
    height: 2px;
    background-color: rgba(245, 245, 245, 0.5); ;
    width: 20%; 
    margin: 0 auto;
    
  }

.icon-line {
    height: 2px;
    background-color: #F5F5F5; 
    width: 5%; 
    margin: 0 auto;
     
}






/* ! SECTION WITH MARBLE BB ! */

.bg-img-spokoj-section {
    background-image: url("/assets/bg tree 1.jpg");
    background-repeat: repeat-y;
    background-position: left top;
    background-size: cover;
}


@media (max-width: 1520px) {
    .bg-img-spokoj-section {
        background-repeat: repeat; /* Change to repeat on screens smaller than medium */
        /* Change the position to center on screens smaller than medium */
    }
}
    
.image-translate{
    transform: translateY(-80px) translateX(-70px);
}

@media (max-width: 1300px) {
    .image-translate {
      transform: none;
      transform: translateY(-100px);
     /* Dostosuj wartość paddigu według potrzeb */
    }
  }



  /* SECTION WITH SLIDER */

  .splide__slide img {
    width: 100%; /* or a specific value, like 600px */
    height: auto; /* keeps the aspect ratio */
    object-fit: cover; /* ensures the image fills the slide area */
    border-radius: 3px;
     /* optional, rounds the image corners */
  }

  .bg-img-slider {
    position: relative;
    width: 100%;
    height: auto; /* Set a specific height for the background */
    overflow: visible;
    padding:0.5em /* Ensure overflow content is visible */
}

.bg-img-slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/bg_img_slider.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: 25%; 
    z-index: 1; /* Positioned behind content */
}

#splide {
    position: relative;
    z-index: 2; /* Ensures the slider appears above the background overlay */
}


/* Responsive behavior for smaller screens */
@media (max-width: 768px) {

    .navbar-nav .nav-item {
        margin-top: 5px; /* Reduce top margin for smaller screens */
    }

    /* Make the font size smaller for mobile screens */
    .nav-link {
        font-size: 0.9rem; /* Decrease the size of nav items */
    }

    .btnContact {
        width: 120px; /* Reduce button size on mobile */
        font-size: 0.9rem; /* Decrease button text size */
    }

    
}

/* ! Top Bg Image Animation */




/* ABIUT US  */
  .left-top-spacer{
    padding-top: 100px;
  }

  .image-translate2{
    transform: translateY(50px);
}

@media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .image-translate2{
        transform: none
    }
    .left-top-spacer{
        padding-top: 20px;
      }

}

@media (max-width: 767px) {
    .mx-4 {
      margin-left: 0;
      margin-right: 0;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }





p {
    font-size: 16px; /* Domyślny rozmiar tekstu */
}

/* Zwiększ rozmiar tekstu na większych ekranach */
@media (min-width: 1200px) {
    p {
        font-size: 20px; /* Rozmiar tekstu dla ekranów powyżej 1200px */
    }
}

.no_underline{
    text-decoration: none;
}



