.outside-container {
    position: relative;
    overflow: hidden; /* Prevent unwanted overflow */
    min-height: 100vh;
}


.logo-container { 
    filter: invert(1);
}

.header-container {
padding-top: 120px
}

.realization-bg {
    background-image: url('/assets/bg_img_slider.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
  }
  
  .realization-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.88); /* semi-transparent overlay */
    z-index: -1;
  }
  
  .step-card {
    border: none;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
  
  .step-green {
    background-color: #7C8A77;
    color: #ffffff;
  }
  
  .step-beige {
    background-color: #B89F86;
    color: #ffffff;
  }
  
  .step-white {
    background-color: #F5F5F5;
    color: #333333;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  
  .step-image {
    max-height: 160px;
    max-width: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

