.outside-container {
  position: relative; /* Ensure proper stacking context */
  overflow: hidden; /* Prevent unwanted overflow */
  min-height: 100vh;
}

.logo-container { 
    filter: invert(1);
}


.main-container{
    padding-top: 120px;
}

.tech-image {
  max-width: 300px;
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.tech-bg {
  position: relative;
  background-image: url('/assets/bg tree 1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  z-index: 0;
}

.tech-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.65); /* Adjust alpha here for transparency */
  z-index: 1;
}

/* Ensure the content sits above the transparent layer */
.tech-bg > * {
  position: relative;
  z-index: 2;
}