
.outside-container {
  position: relative; /* Ensure proper stacking context */
  overflow: hidden; /* Prevent unwanted overflow */
  min-height: 100vh;
}

.logo-container { 
    filter: invert(1);
}


.finance-container{
    padding-top: 120px;
}


.icon-custom-green{
    color:#7C8A77 !important
}

.icon-custom-brown{
 color: #B89F86 !important
}

  .finance-heading {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    .finance-heading {
      font-size: 2.5rem;
    }
  }

  .cta-button-box {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: #f1f5f0; /* initial soft green/gray */
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for the box only */
  .cta-button-box:hover {
    background-color: #e2eae0; /* slightly greener on hover */
  }
  
  /* Pointer only for the links */
  .cta-button-box a {
    font-weight: 500;
  }