@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Prata&family=Prociono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.cormorant-garamond-regular {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    width:100%;  
    overflow-x: hidden; /* Restrict horizontal overflow */
    overflow-y: scroll; /* Keep vertical scroll on html */
}

/* SEKCJA LOGO */

.logo-container {
    position: absolute; 
    top: 10px; 
    left: 8%; 
    transform: translateX(0); 
    z-index: 10; 
}

.logo {
    max-height: 180px;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        max-height: 150px; 
    }
}

@media (min-width: 1200px) {
    .logo-container {
        top: 30px; 
        left: 5%; 
    }

    .logo {
        max-height: 250px; 
        width: auto; 
        height: auto;
    }
}

/* NOWA SEKCJA */
