<div class="footer-bg">
    <div class="row d-flex align-items-end"> <!-- Added d-flex and align-items-end -->
      <div class="col-sm text-center text-white">
        <p>© 2024 Ammer House</p>
        <p>All Rights Reserved</p>
      </div>
      <div class="col-sm text-center">
        <img class="logo-footer img-fluid" src="/assets/logo_footer_img.png" alt="Logo">
      </div>
      <div class="col-sm text-center text-white mt-2">
        <p>Polityka prywatności</p>
      </div>
    </div>
  </div>
