/* FOOTER */
.outside-container {
  position: relative; /* Ensure proper stacking context */
  overflow: hidden; /* Prevent unwanted overflow */
}

.footer-bg {
    background-color: #7C8A77;
    display: flex;              /* Enable Flexbox */
    flex-direction: column;     /* Stack children vertically */
    justify-content: flex-end;  /* Align children to the bottom */
    height: 100%;               /* Ensure it takes the full height of the parent */
}

.logo-footer {
    height: 200px;
    padding: 20px;
}

@media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .logo-footer {
        height: 150px;
        margin-top: 1px; /* Increased size for small screens */
    }
}

/* MODAL CSS */
.modal-content {
  border-radius: 0;
}

.modal-header {
  justify-content: flex-start;
}

.btn-close {
  margin-left: 1rem;
  margin-top: 1rem;
}

.modal-body {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
}

.modal-body h5 {
  margin-top: 2rem;
  font-weight: 600;
}

.modal-body p {
  margin-bottom: 1.2rem;
  text-align: justify;
}