<div class="footer-bg mt-3">
  <div class="row d-flex align-items-end">
    <div class="col-sm text-center text-white">
      <p>© 2024 Ammer House</p>
      <p>All Rights Reserved</p>
    </div>
    <div class="col-sm text-center">
      <img class="logo-footer img-fluid" src="/assets/logo_footer_img.png" alt="Logo">
    </div>
    <div class="col-sm text-center text-white mt-2">
      <p role="button" data-bs-toggle="modal" data-bs-target="#privacyModal" class="text-decoration-underline mb-1">
        Polityka prywatności
      </p>
      <p role="button"
         class="text-decoration-underline mb-0"
         (click)="openCookies()">
        Zmień ustawienia cookies
      </p>
    </div>
  </div>
</div>

<!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-light">
      <div class="modal-header border-0">
        <button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <div class="modal-body p-4 p-md-5">
        <h2 class="mb-4">Polityka prywatności</h2>

        <h5>1) Postanowienia ogólne</h5>
        <p>
          Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych oraz prawa Użytkowników, zawiera informacje dotyczące Administratora Danych Osobowych, a także wykorzystania plików cookie. Dane osobowe Użytkowników są chronione przez AMMER HOUSE SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. (...).
        </p>

        <h5>2) Podstawowe Pojęcia</h5>
        <p>
          Administrator danych osobowych – AMMER HOUSE SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ, UL. WALEREGO SŁAWKA 3/5 m 59, 02-495 WARSZAWA.<br>
          RODO – Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 (...).<br>
          Ustawa – ustawa z dnia 10 maja 2018 r. o ochronie danych osobowych.
        </p>

        <h5>3) Cel Przetwarzania Danych Osobowych</h5>
        <p>
          Badanie satysfakcji Użytkownika oraz marketing promujący Administratora i jego produkty oraz usługi, co stanowi spełnienie warunku zgodności z prawem przetwarzania danych (...).
        </p>

        <h5>4) Odbiorca Danych Osobowych</h5>
        <p>
          Administrator może przekazać dane osobowe, wskazane w pkt 16, podmiotom uprawnionym do otrzymania danych osobowych na podstawie przepisów prawa, decyzji organu administracji publicznej lub orzeczenia sądowego.
        </p>

        <h5>5) Pliki Cookie</h5>
        <p>
          Plik cookie to krótki tekst wysyłany do przeglądarki internetowej przez serwis internetowy, który w danej chwili odwiedza Użytkownik. Dzięki czemu serwis zapamiętuje informacje o ustawieniach przeglądarki (...).
        </p>

        <h5>6) Postanowienia Końcowe</h5>
        <p>
          W sprawach nieuregulowanych w Polityce Prywatności stosuje się przepisy prawa polskiego. Administrator może dokonać zmian w Polityce Prywatności w każdym czasie (...).
        </p>
      </div>
    </div>
  </div>
</div>