.outside-container {
    position: relative; /* Ensure proper stacking context */
    overflow: hidden; /* Prevent unwanted overflow */
  }

.header-container{
  margin-top: 100px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
  }
  
.card-text {
    font-size: 0.95rem;
    color: #444;
  }

  .logo-container { 
    filter: invert(1);
}